img {
    display: block;
    margin-left: auto;  
    margin-right: auto;
    margin-top: 250px;
    margin-bottom: 250px;
}

input {
    display: block;
    margin-left: auto;  
    margin-right: auto;
    
}
